<div>
    <nav>
        <ul class="menu" id="menu">
            <a href=""><img src="../../../assets/images/landingPage/Logo.png" class="Logoimg"></a>
            <li class="logo"><a>Manager Hotels</a></li>
            <li style="cursor:pointer" routerLink="/login" class="item button"><a class="white">Log In</a></li>
            <li style="cursor:pointer" routerLink="/register" class="item button secondary"><a>Register</a></li>
        </ul>
    </nav>
    <header>
        <div class="container">
            <div class="textos">
                <h1>Manager Hotels</h1>
                <h3>An app with which you can be able to manage intuitively
                    and order your company through the creation of branches in which you can
                    sell your different products as a company and undertake the success of it.</h3>
            </div>
            <img class="alinear-izquierda" src="../../../assets/images/landingPage/Hoteles.png">
        </div>
    </header>
    <div class="wave">
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #18191ae5; "></path>
            </svg></div>
    </div>
</div>